#facet-filters {
    margin-bottom: 5px;
}

#facet-filters coral-tag {
    margin: 0 2px 2px 0;
    cursor: pointer;
    padding: .625rem;
    border: #d0d0d0 solid 1px;
    background: #eee;
    height: auto;
}

#add-filter-label {
    padding-right: 10px;
}

.facet-filters-enter {
    opacity: 0.01;
}

.facet-filters-enter.facet-filters-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.facet-filters-leave {
    opacity: 1;
}

.facet-filters-leave.facet-filters-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}