body, html {
    padding : 0;
    margin : 0;
    height : 100%;
}

#wrapper {
    width: 99%;
    margin: 0;
}

#header {
    width:99%;
    padding: 10px;
}

#header coral-select {
    padding-right: 10px;
}

#header coral-tag {
    vertical-align: top;
}

#nav {
    width:200px;
    float:left;
    padding: 0 10px;
}

#content {
    height:90%;
    width:1000px;
    float:left;
}

#chart {
    background: #f9f9f9;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: .1875rem;
}

#facet-selector {
    border-radius: .1875rem;
}

#facet-selector coral-selectlist-item {
    padding: .625rem .9375rem;
}

#facet-legend {
    list-style-type: none;
    padding: 0;
    width: 200px;
    border-radius: .1875rem;
    overflow: hidden;
}

#facet-legend li {
    display: block;
    padding: 5px;
    border: solid #333333 1px;
    cursor: pointer;
}

#facet-legend li:hover {
    opacity: 0.9;
    padding: 4px;
    transition: all 100ms ease-in;
}

.facet-label {
    display: block;
    padding: 1px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.8;
    background-color: #ffffff;
    width: 100%;
    white-space: nowrap;
}

#facet-legend li:hover .facet-label {
    opacity: 1;
    padding: 2px 0;
    transition: all 100ms ease-in;
}

.facet-title {
    margin: 0 2px;
}

.facet-count {
    font-weight: 900;
    float: right;
    padding-right: 2px;
}

#results {
    padding: 0 10px;
    display: inline-block;
}

.inline {
    display: inline-block;
}





