body, html {
  padding : 0;
  margin : 0;
  height : 100%;
}

#wrapper {
  width: 99%;
  margin: 0;
}

#header {
  width:99%;
  padding: 10px;
}

#header coral-select {
  padding-right: 10px;
}

#header coral-tag {
  vertical-align: top;
}

#nav {
  width:190px;
  float:left;
  padding: 0 10px;
}

#content {
  height:90%;
  width:1000px;
  float:left;
}

#chart {
  background: #f9f9f9;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: .1875rem;
}

.inline {
  display: inline-block;
}